[submodule "submodules/spdlog"]
	path = src/engine/deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "engine/deps/glfw"]
	path = src/engine/deps/glfw
	url = https://github.com/glfw/glfw.git
